extends layout

block content
	#content
		h2 Accounts:
			// if (request.user.admin)
			&nbsp;[&nbsp;
			a(href="/accounts/create") Create Account
			&nbsp;]&nbsp;
		ul
			each account in accounts
				li 
					a(href='/accounts/' + account.email) #{account.email}
