extends layout

block scripts
  script(src="/socket.io/socket.io.js")
  script(src='/scripts/off-the-record.js')
  script(src='/scripts/app.js')
block styles
  link(rel='stylesheet' href='/styles/app.css' type="text/css")

block pageTitle
  #pageTitle='Profile'

block content
  #content
  div(class="pageView" id="dashboard") dashboard
  div(class="pageView" id="profile") profile
  div(class="pageView" id="messages") messages
  div(class="pageView" id="friends") friends
  div(class="pageView" id="search") search
