extends layout

block scripts
  script(src='/scripts/friends.js')
block styles
  link(ref='/styles/friends.css')

block pageTitle
  #pageTitle='Friends'
  
block content
  #content
    h2 Friends
    ul#friends
    h2 Requests
    h3 Sent
    ul#sent
    h3 Received
    ul#received
