extends layout

block scripts
  script(src="/socket.io/socket.io.js")
  script(src='/scripts/off-the-record.js')
  script(src='/scripts/profile.js')
block styles
  link(rel='stylesheet' href='/styles/profile.css' type="text/css")

block pageTitle
  #pageTitle='Profile'

block content
  #content
    h3 Profile
      button(id="editProfile" class="profile" disabled="disabled") edit
      button(id="cancelProfile" class="profile") cancel
      button(id="saveProfile" class="profile") save
    table(id="profile-table")
      tbody
          tr
            td.property username:
            td#username
          tr
            td First Name:
            td(id='firstName' class="editable")
          tr
            td Last Name:
            td(id='lastName' class="editable")
    h3 Privacy
      button(id="editPrivacy" class="privacy"  disabled="disabled") edit
      button(id="cancelPrivacy" class="privacy") cancel
      button(id="savePrivacy" class="privacy") save
    table(id="privacy-table")
      tbody
        tr
          td View Profile
          td(id="privacy-profile" class="editable")
        tr
          td Search
          td(id="privacy-search" class="editable")
        tr
          td Friend Request
          td(id="privacy-friendRequest" class="editable")
        tr
          td Start Conversation
          td(id="privacy-startConversation" class="editable")
    h3 Danger Zone:
      div: button(id="delete-account") delete account
