extends layout

block session

block pageTitle
  #pageTitle='Register'

block content
  #content
    if (err)
      p.err=err

    form(action='/register', method='POST')
      input(type='hidden', name='redir', value=redir)
      table
        tbody
          tr
            td: label(for='username') Username: 
            td: input(type='text', name='username', id='username')
          tr
            td: label(for='password') Password: 
            td: input(type='password', name='password', id='password')
          // need to implement form validator to verify their passwords match
          tr
            td: label(for='verifyPassword') Verify Password: 
            td: input(type='password', name='verifyPassword', id='verifyPassword')
      p
        input(type='submit', value='Register')
    p Already registered? 
      a(href='/logon') Logon
    
