//
// The root of the site says hello to the world!
//
// Non-Authenticated users are given the option to logon
// 
extends layout
block styles
  link(rel='stylesheet' href='/styles/root.css')
block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/off-the-record.js')
  script(src='/scripts/root.js')

block pageTitle
  #pageTitle='Off-The-Record'
block content
  #content
    if (!(request.session.passport && request.session.passport.user))
      include ./forms/logon.jade
    else 
      h3 Welcome to Off-The-Record!
      p I'll probably put a more substantive splash-screen here some day
