extends layout

block socketio
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/off-the-record.js')
    script(src='/scripts/account.js')

block content
    #contents
        h2= accountInfo.email
        table(id="profile-table")
            tbody
                each propName in ['displayName', 'firstName', 'lastName']
                    tr
                        td=propName
                        td=accountInfo.profile[propName]
                tr
                    td email
                    td=accountInfo.email
        
        if (accountInfo.friendRequests && accountInfo.relationship < relationships.values.FRIENDS) 
            button(id="friendRequest") friend request
        if (accountInfo.chatRequests)
            button(id="chatRequest") chat request