extends layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/off-the-record.js')
  script(src='/scripts/convos.js')

block styles
  link(href='/styles/convos.css' rel="stylesheet" type="text/css")

block content
  #content
    h2 Conversations

    div#convoInputs
      button(id='startConvoBtn' class='convoInputs') Start
      input(id='searchInput' type="search" incremental="incremental" placeholder="search for users..." class='convoInputs')
      label(id='searchResults' class='convoInputs' for='searchResults') search results
      ul(id='searchResults' class='convoInputs') 
      label(id='searchResults' class='convoInputs' for='invitees') invitees
      ul(id='invitees' class='convoInputs')
      button(id='createConvoBtn' class='convoInputs') Create
      button(id='cancelConvoBtn' class='convoInputs') Cancel
    ul#convos No active conversations
