extends layout
block socketio
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/convo.js')
block menu
block buddyList
block content
    #content
        h2 #{request.convo.config.host.displayName}'s Conversation
            if (request.convo.config.host['_id'].toString() === request.user._id.toString())
                | &nbsp;[&nbsp;
                button(id="killConvo", name="killConvo", value="true") Cancel
                | &nbsp;]&nbsp;
        h3 Members:
        #MembersList
            table
                tbody
                    tr
                        th &nbsp;
                        th Handle
                    - for (var i = 1; i <= request.convo.config.members; i+=1)
                        tr
                            td=i
                            td &nbsp;
                            td &nbsp;
        br
        label(for="chat_log") Chat Log:
        br
        textarea(id='chat_log', cols='100', rows='15', disabled='disabled')
        br
        input(id='chat_input', disabled='disabled', size='100', value='Type here to chat!')
        button(id='chat_submit', disabled='disabled') Chat
