extends layout

block socketio
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/off-the-record.js')

block content
    #contents
        h2 #{request.friend.handle}
        table
            tbody
                - var hideKeys = ['salt', 'hash', '_id', '__v']
                each value, key in request.friend.toObject()
                    if 0 > hideKeys.indexOf(key)
                        tr
                            td=key
                            td=value
