extends layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/off-the-record.js')
  script(src='/scripts/friends.js')
block styles
  link(ref='/styles/friends.css')
  
block content
  #content
    h2 Friends
    ul#friends
    h2 Requests
    h3 You've Sent
    ul#sent
    h3 You've Received
    ul#received
