//
// The root of the site displays info about the game server:
//	- IP address and hostname
//	- List of all Players' usernames
//	- Current time
//	- Elapsed time
//	- Creation timestamp
//	- Start timestamp
//	- End timestamp
//
// Non-Authenticated users are given the option to logon
// Authenticated users, depending on privacy policy set by Player 1, users may 
// be given options to:
//	- Join if: 
//		* There is a reserved seat for that user, or
//		* There is at least one public seat open
//	- Spectate if:
//		* Specating is enabled, and
// 		* That user has been authorized as spectator
///
extends layout

block content
	#content
		h2 Hello
		p World!
