extends layout

block scripts
  script(src="/socket.io/socket.io.js")
  script(src='/scripts/off-the-record.js')
  script(src='/scripts/search.js')
block styles
  link(ref='/styles/search.css')
  
block content
  #content
    label(for="search") Search
    input(id="search-input", type="search", results="5", incremental="incremental", placeholder="search for users", disabled="disabled")
    button(id="search-users", disabled="disabled") Search
    h2 Friends:
    ul#friends

    h2 Friends of Friends:
    ul#friends-of-friends

    h2 Non-Friends:
    ul#non-friends
