extends layout
sblock content
    h2 404 - resource not found
    p Sorry, but we are unable to find a resource by this request.
    blockquote
       h4.resource=request.originalUrl
    p 
        a(href=request.url) Try again?

