
#logonForm
  p You must logon to continue.
  if (error) 
    p.err=error
  - var action = '/logon?redirect=' + redirect;
  form(action=action, method='POST')
    table
      tbody
        tr
          td: label(for='username') Username:
          td: input(type='text', name='username', id='username')
        tr
          td: label(for='password') Password: 
          td: input(type='password', name='password', id='password')
    p
      input(type='submit', value='Logon')
  p Need an account? 
    a(href='/register') register
